@font-face {
   font-family: "Gilroy-Regular";
   src: url(/fonts/font-Bold/FontsFree-Net-Gilroy3.ttf);
}
@font-face {
   font-family: "Gilroy-Bold";
   src: url(/fonts/font-Bold/FontsFree-Net-Gilroy-Bold.ttf);
}

h2 {
   font-family: "Gilroy-Bold";
}

p {
   font-family: "Gilroy-Regular";
}


*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* START HEADER */

#hero {
   width: 100%;
   /*height: 700px;*/
   margin-top: 30px;
}

.navbar-title {
   margin-left: 10px;
   font-family: "Gilory-Bold";
   width: 88px;
   height: 30px;
   font-size: 24px;
   line-height: 28px;
   color: #000;
}
.navbar-title span {
   color: #F25822;
}

.nav-list {
   list-style: none;
   margin-top: 40px;
   margin-bottom: 50px;
}

.nav-item {
   margin-right: 20px;
   font-family: 'Gilroy-SemiBold';
   font-size: 14px;
   line-height: 16px;
}
.nav-item:nth-child(1) {
   color: #F25822;
}
.btn {
   width: 120px;
   height: 40px;
   border: 1px solid #F25822;
   background: #F25822;
   border-radius: 30px;
}
/* THE END HEADER */

/* START MARKETING */
#site-market {
   width: 100%;
   margin-bottom: 99px;
}
.marketing-content {
   margin-left: 180px;
}
.marketing-title {
   font-family: 'Gilroy-Bold';
   font-size: 60px;
   line-height: 70px;
   color: #000000;
   margin-bottom: 17px;
}
.marketing-text {
   font-family: 'Gilroy-Medium';
   font-size: 20px;
   line-height: 23px;
   color: #888888;
   margin-bottom: 37px;
}
.marketing-list {
   list-style: none;
}
.marketing-item {
   margin-right: 15px;
}
.btns {
   width: 140px;
   height: 50px;
   border: 1px solid #F25822;
   background: #F25822;
   box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
   border-radius: 50px;
}
/* THE END MARKETING */

/* START LOGO */
#site-logo {
   width: 100%;
   margin-bottom: 70px;
}
.logo-list {
   list-style: none;
}
.logo-item {
   margin-right: 48px;
}
/* THE END LOGO */

/* START BUSINESS */
#your-business {
   width: 100%;
   height: 540px;
   
   /*margin-left: 130px;*/
}
.business-content {
   margin: 0 auto;
}
.business-title {
   width: 409px;
   height: 112px;
   font-family: 'Gilroy-Bold';
   font-size: 45px;
   line-height: 53px;
   color: #000;
   margin-bottom: 20px;
}
.business-text {
   width: 415px;
   height: 72px;
   font-family: 'Gilroy-Regular';
   font-size: 16px;
   line-height: 150%;
   color: #666666;
   margin-bottom: 45px;
}
.butt {
   width: 140px;
   height: 50px;
   border: 1px solid #F25822;
   background: #F25822;
   box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
   border-radius: 50px;
}

